@import url("https://fonts.googleapis.com/css?family=Poppins|Arimo|Roboto:400,700|Source+Sans+Pro:700");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 2000px;
  font-family: "Roboto", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

#menu-toggle {
  display: none;
}

.st-hd {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.st-hd .hd-cont {
  background: #fd3c3d;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.st-hd .soc-li {
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.st-hd .soc-li .num {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

.st-hd .st-lg {
  display: none;
}

.st-hd .st-lg a {
  font-weight: bold;
  font-size: 1.6rem;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-transform: capitalize;
}

.st-hd .st-nav {
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 20px 0 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}

.st-hd .st-nav #menu-toggle {
  font-size: 1.5rem;
}

.st-hd .st-nav .menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-transform: uppercase;
}

.st-hd .st-nav .menu .mn-it {
  padding: 0 22px;
  font-weight: 700;
  position: relative;
}

.st-hd .st-nav .menu .mn-it:not(:last-child):before {
  content: "";
  background: #fff;
  display: block;
  position: absolute;
  height: 17px;
  width: 1px;
  top: 2px;
  left: 100%;
}

.st-hd .st-nav .menu .mn-it:hover > a:before {
  width: 100%;
  height: 4px;
}

.st-hd .st-nav .menu a {
  position: relative;
}

.st-hd .st-nav .menu a:before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  background: #fff;
  bottom: -16px;
  will-change: auto;
}

.menu-active {
  padding: 10px 10px 0 !important;
}

h1 {
  color: #fff;
  margin: 25px 0;
  font-size: 2.2rem;
  line-height: 1.5;
}

p {
  margin: 18px 0;
}

.btn-primary {
  font-size: .75rem;
  margin: 20px 0;
  background: #fd3c3d;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .03rem;
  padding: 12px 40px;
  transition: .3s ease-in-out;
}

.btn-primary:hover {
  background: #fff;
  color: #000;
}

@media (min-width: 992px) {
  .btn-primary {
    font-size: .875rem;
    padding: 15px 50px;
  }
}

@media (min-width: 768px) {
  h1 {
    line-height: 1.2;
    font-size: 3.5rem;
  }
}

.ft-wrap {
  min-height: 100vh;
}

.ft-wrap .sl1 {
  background-image: url(img/prod1.jpg);
}

.ft-wrap .sl2 {
  background-image: url(img/prod2.jpg);
}

.ft-wrap .sl3 {
  background-image: url(img/prod3.jpg);
}

.sl-it {
  background-size: cover;
  background-position: center;
  min-height: 100vh !important;
  min-height: calc(100vh - 55px) !important;
}

.sl-it:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: block;
  position: absolute;
  z-index: -1;
}

.sl-it .sl-wr {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding-left: 20px;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

.sl-it .sl-sh {
  margin: auto;
  min-width: 250px;
  color: #fff;
}

.animated {
  color: red;
  -webkit-animation-name: fadeUp;
          animation-name: fadeUp;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  opacity: 0;
}

.slick-dots {
  bottom: 75px !important;
}

.slick-dots button:before {
  font-size: 15px !important;
  opacity: 1 !important;
  color: #fff !important;
}

.slick-dots li.slick-active button:before {
  color: #fd3c3d !important;
}

.slick-dots li {
  margin: 0 10px;
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media (min-width: 768px) {
  .sl-sh {
    max-width: 750px;
  }
  .sl-wr {
    margin-top: 3em !important;
  }
  .st-nav .menu {
    display: block;
  }
  .st-nav .menu li {
    display: block;
  }
}

@media (max-width: 768px) {
  .st-hd .hd-cont {
    padding: 0 .625rem;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: relative;
  }
  .st-hd .soc-li {
    position: absolute;
    top: 5px;
    left: auto;
    right: 15px;
  }
  .st-hd .soc-li .num {
    font-size: 2rem;
  }
  .st-hd .st-nav {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .st-hd .st-nav #menu-toggle {
    cursor: pointer;
    display: inline;
  }
  .st-hd .st-nav .menu {
    display: none;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: .5rem -1.21rem 0;
  }
  .st-hd .st-nav .menu li.mn-it {
    padding: 0 1.25rem;
    border-bottom: 1px solid #fff;
  }
  .st-hd .st-nav .menu li.mn-it a {
    padding: 1rem 0;
    position: relative;
    display: block;
  }
  .st-hd .st-nav .menu li.mn-it a:before {
    content: none !important;
  }
  .st-hd .st-nav .menu li.mn-it:first-child {
    border-top: 1px solid #fff;
  }
  .st-hd .st-nav .menu li.mn-it:before {
    content: none !important;
  }
}

@media (max-width: 430px) {
  .st-hd .soc-li {
    top: 10px;
  }
  .st-hd .soc-li .num {
    font-size: 1.4rem;
  }
  .st-nav #menu-toggle {
    font-size: 1.3rem !important;
    vertical-align: middle;
    margin-left: -.6rem;
  }
  .st-nav #menu-toggle i {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .sl-sh {
    max-width: 970px;
  }
  .sl-wr {
    margin-top: 5em !important;
  }
}

@media (min-width: 1200px) {
  .sl-sh {
    max-width: 1200px;
    padding-right: 40%;
    text-align: left;
  }
  .sl-wr {
    margin-top: 10em !important;
  }
  .st-hd .st-lg {
    display: block;
  }
}

@media (min-width: 850px) {
  .st-hd .soc-li .num {
    font-size: 2rem;
  }
}
